@import "tailwindcss";


p::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

p::-webkit-scrollbar-track {
  background: #e81d1d00;
  border-radius: 10px;
}

p::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #888989, #4A4E54);
  border-radius: 10px;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.406);
}

p::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

li{
  position: relative;
}

li::before{
  content :"";
  height: 100%;
  width:0%;
  position: absolute;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.209),#28292f52);
  left:0px;
  top:0px;
  border-radius: 20px;
  transition: width 0.4s ease;
  z-index: 0;
}

li:hover::before{
  width:100%;
}

